In [39]:
import pandas as pd

In [40]:
total_pop_df = pd.read_csv('World Population Data/total_population.csv')
pop_agg1_df = pd.read_csv('World Population Data/population_ages_0-14.csv')
pop_agg2_df = pd.read_csv('World Population Data/population_ages_15-64.csv')
pop_agg3_df = pd.read_csv('World Population Data/population_ages_65.csv')

In [41]:
total_pop_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN,NaN

In [42]:
pop_agg1_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,43.847190,43.358346,42.925745,42.488756,41.950133,41.290098,...,20.530937,20.092629,19.593055,19.111724,18.703098,18.257495,17.980183,17.802447,NaN,NaN
1,Afghanistan,AFG,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,42.140851,42.453942,42.637354,42.748804,42.854745,42.981805,...,47.701590,47.089759,46.386671,45.640589,44.877039,44.272113,43.682526,43.090176,NaN,NaN
2,Angola,AGO,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,42.132067,42.790762,43.496568,44.090193,44.419171,44.464828,...,47.144535,47.196019,47.205425,47.177159,47.108971,47.053352,46.953016,46.808925,NaN,NaN
3,Albania,ALB,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,40.155737,40.541752,40.900830,41.213008,41.433495,41.533279,...,21.471308,20.600591,19.856257,19.220282,18.668728,18.383696,18.028312,17.672874,NaN,NaN
4,Andorra,AND,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
pop_agg2_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,53.669919,54.056784,54.383281,54.710292,55.119933,55.631102,...,68.885601,68.986934,69.108851,69.181105,69.159774,69.137615,68.946339,68.646606,NaN,NaN
1,Afghanistan,AFG,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,55.060841,54.737928,54.558533,54.465025,54.391032,54.309303,...,49.943948,50.523947,51.193122,51.907836,52.644299,53.207964,53.763223,54.324898,NaN,NaN
2,Angola,AGO,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,54.860985,54.164118,53.438944,52.838457,52.510146,52.473291,...,50.508035,50.467978,50.471792,50.519797,50.615167,50.685629,50.807787,50.974702,NaN,NaN
3,Albania,ALB,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,54.433436,54.067355,53.693763,53.351972,53.110270,53.008932,...,67.513706,68.011898,68.372954,68.599025,68.704725,68.660092,68.642614,68.582390,NaN,NaN
4,Andorra,AND,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
pop_agg3_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,2.482891,2.584870,2.690974,2.800952,2.929934,3.078801,...,10.583462,10.920437,11.298093,11.707171,12.137127,12.604890,13.073477,13.550947,NaN,NaN
1,Afghanistan,AFG,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,2.798308,2.808131,2.804113,2.786171,2.754223,2.708892,...,2.354462,2.386294,2.420207,2.451575,2.478662,2.519923,2.554251,2.584927,NaN,NaN
2,Angola,AGO,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,3.006948,3.045121,3.064488,3.071349,3.070683,3.061881,...,2.347430,2.336003,2.322782,2.303044,2.275862,2.261018,2.239197,2.216374,NaN,NaN
3,Albania,ALB,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,5.410827,5.390893,5.405407,5.435020,5.456235,5.457788,...,11.014986,11.387511,11.770789,12.180692,12.626548,12.956211,13.329073,13.744736,NaN,NaN
4,Andorra,AND,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
keep_columns = ['Country Name', 'Country Code', '2018']

In [46]:
total_pop_df = total_pop_df[keep_columns]
pop_agg1_df = pop_agg1_df[keep_columns]
pop_agg2_df = pop_agg2_df[keep_columns]
pop_agg3_df = pop_agg3_df[keep_columns]

In [47]:
total_pop_df.head()

  Country Name Country Code        2018
0        Aruba          ABW    105845.0
1  Afghanistan          AFG  37172386.0
2       Angola          AGO  30809762.0
3      Albania          ALB   2866376.0
4      Andorra          AND     77006.0

In [48]:
pop_agg1_df.head()

  Country Name Country Code       2018
0        Aruba          ABW  17.802447
1  Afghanistan          AFG  43.090176
2       Angola          AGO  46.808925
3      Albania          ALB  17.672874
4      Andorra          AND        NaN

In [49]:
pop_agg2_df.head()

  Country Name Country Code       2018
0        Aruba          ABW  68.646606
1  Afghanistan          AFG  54.324898
2       Angola          AGO  50.974702
3      Albania          ALB  68.582390
4      Andorra          AND        NaN

In [50]:
pop_agg3_df.head()

  Country Name Country Code       2018
0        Aruba          ABW  13.550947
1  Afghanistan          AFG   2.584927
2       Angola          AGO   2.216374
3      Albania          ALB  13.744736
4      Andorra          AND        NaN

In [51]:
def rename_columns(df, columns_mapping):
    new_df = df.rename(columns=columns_mapping)
    return new_df

In [52]:
columns_mapping = {
    '2018': 'population size'
}

In [53]:
total_pop_df = rename_columns(total_pop_df, columns_mapping)
pop_agg1_df = rename_columns(pop_agg1_df, columns_mapping)
pop_agg2_df = rename_columns(pop_agg2_df, columns_mapping)
pop_agg3_df = rename_columns(pop_agg3_df, columns_mapping)

In [55]:
total_pop_df.head()

  Country Name Country Code  population size
0        Aruba          ABW         105845.0
1  Afghanistan          AFG       37172386.0
2       Angola          AGO       30809762.0
3      Albania          ALB        2866376.0
4      Andorra          AND          77006.0

In [56]:
pop_agg1_df.head()

  Country Name Country Code  population size
0        Aruba          ABW        17.802447
1  Afghanistan          AFG        43.090176
2       Angola          AGO        46.808925
3      Albania          ALB        17.672874
4      Andorra          AND              NaN

In [57]:
pop_agg2_df.head()

  Country Name Country Code  population size
0        Aruba          ABW        68.646606
1  Afghanistan          AFG        54.324898
2       Angola          AGO        50.974702
3      Albania          ALB        68.582390
4      Andorra          AND              NaN

In [58]:
pop_agg3_df.head()

  Country Name Country Code  population size
0        Aruba          ABW        13.550947
1  Afghanistan          AFG         2.584927
2       Angola          AGO         2.216374
3      Albania          ALB        13.744736
4      Andorra          AND              NaN

In [63]:
total_pop_df.to_csv('World Population Data/total_population_clean.csv', index=False)
pop_agg1_df.to_csv('World Population Data/population_ages_0-14_clean.csv', index=False)
pop_agg2_df.to_csv('World Population Data/population_ages_15-64_clean.csv', index=False)
pop_agg3_df.to_csv('World Population Data/population_ages_65_clean.csv', index=False)